<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Positive Vibes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="shortcut icon" type="image/png" href="assets/images/icon/favicon.ico"> -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/themify-icons.css">
    <link rel="stylesheet" href="assets/css/metisMenu.css">
    <link rel="stylesheet" href="assets/css/slicknav.min.css">
    <link rel="stylesheet" href="assets/plugins/data-table/css/jquery.dataTables.min.css">
    <!-- amchart css -->
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <!-- others css -->
    <link rel="stylesheet" href="assets/css/typography.css">
    <link rel="stylesheet" href="assets/css/default-css.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
    <!-- modernizr css -->
</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- preloader area start -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- preloader area end -->
    <!-- page container area start -->
    <div class="page-container">
        <!-- sidebar menu area start -->
        <div class="sidebar-menu">
            <div class="sidebar-header">
                <div class="logo">
                    <a href="index.html"><!-- <img src="assets/images/logo.png" alt="logo"> --><h3>LOGO</h3></a>
                </div>
            </div>
            <div class="main-menu">
                <div class="menu-inner">
                    <nav>
                        <ul class="metismenu" id="menu">
                            <li class="active"><a href="index.html"><i class="ti-dashboard"></i> <span>Dashboard</span></a></li>
                            <li><a href="category.html"><i class="ti-receipt"></i> <span>Category</span></a>
                            </li>
                            <li><a href="positive-vibes.html"><i class="ti-receipt"></i> <span>Positive Vibes</span></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- sidebar menu area end -->
        <!-- main content area start -->
        <div class="main-content">
            <div class="header-area">
                <div class="row align-items-center m-0">
                    <!-- nav and search button -->
                    <div class="col-md-6 col-sm-8 clearfix">
                        <div class="nav-btn pull-left">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        
                    </div>
                    <!-- profile info & task notification -->
                    <div class="col-md-6 col-sm-4 clearfix pr-0">
                        <div class="user-profile pull-right">
                            <h4 class="user-name " > <a href="login.html"><i class="ti-power-off"></i> Log Out</a> </h4>
                        </div>
                    </div>
                </div>
            </div>
           
            <div class="main-content-inner">
                <!-- sales report area start -->
                <div class="mt-4 mb-5">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card card-box">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <h4 class="header-title mb-0">User List</h4>
                                    </div>
                                    <div class="table-responsive mt-4">
                                        <table id="table_id" class="table" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th>User Name</th>
                                                    <th>Mobile No.</th>
                                                    <th>Email</th>
                                                    <th>status</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Tiger Nixon</td>
                                                    <td>8985452224</td>
                                                    <td>tiger@gmail.com</td>
                                                    <td>
                                                        <div class="checkbox switch">
                                                          <label>
                                                            <input type="checkbox" name="check1" class="switch-control">
                                                            <span class="switch-label"></span>
                                                          </label>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Garrett Winters</td>
                                                    <td>1252584522</td>
                                                    <td>garrett@gmail.com</td>
                                                    <td>
                                                        <div class="checkbox switch">
                                                          <label>
                                                            <input type="checkbox" name="check2" class="switch-control">
                                                            <span class="switch-label"></span>
                                                          </label>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Ashton Cox</td>
                                                    <td>5548547856</td>
                                                    <td>ashton@gmail.com</td>
                                                    <td>
                                                        <div class="checkbox switch">
                                                          <label>
                                                            <input type="checkbox" name="check3" class="switch-control">
                                                            <span class="switch-label"></span>
                                                          </label>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Cedric Kelly</td>
                                                    <td>8587456936</td>
                                                    <td>cedric@gmail.com</td>
                                                    <td>
                                                        <div class="checkbox switch">
                                                          <label>
                                                            <input type="checkbox" name="check4" class="switch-control">
                                                            <span class="switch-label"></span>
                                                          </label>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Airi Satou</td>
                                                    <td>9685742589</td>
                                                    <td>airi@gmail.com</td>
                                                    <td>
                                                        <div class="checkbox switch">
                                                          <label>
                                                            <input type="checkbox" name="check5" class="switch-control">
                                                            <span class="switch-label"></span>
                                                          </label>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Brielle Williamson</td>
                                                    <td>5856965478</td>
                                                    <td>brielle@gmail.com</td>
                                                    <td>
                                                        <div class="checkbox switch">
                                                          <label>
                                                            <input type="checkbox" name="check6" class="switch-control">
                                                            <span class="switch-label"></span>
                                                          </label>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- main content area end -->
        <!-- footer area start-->
        <footer>
            <div class="footer-area">
                <p>© Copyright 2018. All right reserved. Template by <a href="https://colorlib.com/wp/">Colorlib</a>.</p>
            </div>
        </footer>
        <!-- footer area end-->
    </div>
    <!-- page container area end -->
    <!-- jquery latest version -->
    <script src="assets/js/jquery-2.2.4.min.js"></script>
    <!-- bootstrap 4 js -->
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/plugins/data-table/js/jquery.dataTables.min.js"></script>
    <script src="assets/js/metisMenu.min.js"></script>
    <script src="assets/js/jquery.slimscroll.min.js"></script>
    <script src="assets/js/jquery.slicknav.min.js"></script>

    <script src="assets/js/scripts.js"></script>
</body>

</html>
